<div class="container">
    <div class="breadcrumb">
        <p class="hidden">Sie befinden sich hier: </p>
        <ul>
            <li class="icon arrow-right">
                <a href="http://www1.wdr.de/">WDR</a>
            </li>
            <li class="icon arrow-right">
                <a href="https://www1.wdr.de/fernsehen/startseite/">Fernsehen</a>
            </li>
            <li class="icon arrow-right">
                <a href="https://www1.wdr.de/fernsehen/menschen-hautnah/index.html">Menschen hautnah</a>
            </li>
        </ul>
    </div>
</div>
