<div class="video-wrapper">
    <div class="videoLink">
        <a href="javascript:void(0);"
        class="mediaLink video"
        data-extension='{"mediaObj":{"url":"http://deviceids-medp.wdr.de/ondemand/{{ String(id).substring(0, 3) }}/{{ id }}.js"}}'
        title="Video starten">
            <img src="{{ image }}">
            <div class="button-play">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" viewBox="0 0 100 100">
                    <path d="M 95,50 5,95 5,5 z"/>
                </svg>
            </div>
        </a>
    </div>
</div>
