<script>
    window.wdrWebtrekkBuildArr = [
        'WDR',
        'Datenprojekte',
        'Fernsehen',
        'Menschen hautnah',
        'Arm trotz Arbeit - Was schätzen Sie?'
    ];

    (function() {
        const insertScript = function (url) {
            const script = document.createElement('script');
            script.src = url;
            script.async = true;
            document.body.appendChild(script);

            return {
                then: function (cb) {
                    script.addEventListener('load', cb);
                }
            }
        };

        insertScript("bower_components/jquery/dist/jquery.min.js")
            .then(function () {
                insertScript("https://www.wdr.de/themen/global/tracker/tracker.min.js")
            });
    })();
</script>