<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
<head>
    <title>Was schätzen Sie?</title>
    <meta property="og:title" content="Arm trotz Arbeit. Was schätzen Sie: Wie viel verdienen Frauen in Deutschland? - WDR" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0"/>
    <meta name="Keywords" content="WDR, WDR-data, Datenprojekte, Menschen hautnah, #ddj, #interactive, Was schätzen Sie?, Frauen, Einkommen, Ausbildung, Teilzeit, Altersarmut, Armut"/>
    <meta name="Description" content="Arm trotz Arbeit. Was schätzen Sie: Wie viel verdienen Frauen in Deutschland? Ziehen Sie den Balken auf die entsprechende Höhe."/>
    <meta name="Author" content="Patricia Ennenbach, Susanne Jäger (Video)"/>
    <meta name="DC.Rights" content="Nur WDR"/>
    <meta name="DC.Date" content="2018-11-15T21:00+01:00" />
    <meta name="Publisher" content="wdr.de" />
    <meta property="og:image" content="https://www1.wdr.de/radio/wdr5/wdrlogo118~_v-ARDFotogalerie.jpg" />
    <meta name="robots" content="index,follow,noarchive"/>
    <link rel="shortcut icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>
    <link rel="icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>
<body>

{% include "partials/header.html" with { active: 'nachrichten' } %}

<article id="content" class="container">
    <div class="intro">
        <h1>Arm trotz Arbeit</h1>
        <h2>Was schätzen Sie: Wie viel verdienen Frauen in Deutschland?</h2>
        <p>Susanne reinigt Krankenhausbetten. Ulrike ist studierte Opernsängerin und hat neun Jobs. Janina arbeitet daran, mit zwei Kleinkindern wieder eine Stelle zu finden. Sandra hat vier Kinder und einen Job, für den sie überqualifiziert ist.<br>
           ‘Menschen hautnah’ hat vier Frauen begleitet, die wissen, was hart arbeiten bedeutet. Und dabei nur wenig verdienen. Das hat in Deutschland System.<br> 
            Wir laden Sie ein rund um das Thema ‘Frauen und Arbeit’ zu schätzen, wie die Situation in Deutschland ist. Am Ende gibt es eine Auswertung, wie gut Sie geschätzt haben.</p>
        <!--Intro video here-->
        <p><b><a href="https://www1.wdr.de/fernsehen/menschen-hautnah/sendungen/arm-trotz-arbeit-110.html">Den ganzen Film in der Mediathek ansehen</a></b></p>
    </div>

    <div class="questions">
        {% for question in data %}
        <div class="question">
            <h2>{{ question.heading|mdi }}</h2>
            <h3>{{ question.subheading|mdi }}</h3>
            <div class="you-draw-it {{ question.key }}" data-key="{{ question.key }}"></div>
            <div class="accessibility">
                <a href="{{ question.accessibility }}" title="Sehen Sie sich die Daten der Grafik als Tabelle an">
                    Barrierefreie Tabelle
                </a>
            </div>
            <div class="result {{ question.key }}">
                <div class="actionContainer">
                    <button class="showAction" disabled>Wie war's tatsächlich?</button>
                    <div class="tooltipcontainer">
                        <span class="tooltiptext">Zeichnen Sie Ihre Einschätzung. Der Klick verrät, ob sie stimmt.</span>
                    </div>
                </div>
                <div class="text">{{ question.result|md }}</div>
            </div>
            <script>
                window.ydi_data = window.ydi_data || {};
                window.ydi_data['{{ question.key }}'] = {% autoescape false %}{{ question|json_encode }}{% endautoescape %};
            </script>
        </div>
        {% endfor %}
    </div>

    <hr>

    <div class="credits">

        <h3>Team</h3>
        <p>Ein Film von Susanne Jäger</p>
        <p>Daten-Recherche und Online-Text Patricia Ennenbach</p>
        <p>Entwicklung: Christine Gotthardt, Patricia Ennenbach</p>
        <p>Design: Christine Gotthardt</p>
        <p>Redaktion: Angela Jaenke</p>

        <h3>Credits</h3>
        <p>"Was schätzen sie" beruht auf einer Vorlage der New York Times:</p>
        <a href="https://www.nytimes.com/interactive/2017/01/15/us/politics/you-draw-obama-legacy.html?_r=0">
            You Draw It: What Got Better or Worse During Obama’s Presidency
        </a>

        <p>Ein Dank an Mihael Ankers, der unseren <a href "https://github.com/wdr-data/you-draw-it">Was schätzen Sie</a> Code verbessert und das Recht eingeräumt hat, ihn zu nutzen:</p>
        <a href="https://github.com/EE2dev/you-draw-it">Was schätzen Sie - mit Balkendiagrammen</a>

        <p>Die Grafiken beruhen auf D3 von Mike Bostock:</p>
        <a href="https://d3js.org/">D3.js - Data Driven Documents</a>
    </div>

    <div class="updatedAt">
        {% set now = Date() %}
        Stand: {{ now|date('d.m.Y') }}
    </div>

</article>

{% include "partials/breadcrumb.html" %}
{% include "partials/footer.html" %}

<script src="bower_components/d3/d3.min.js"></script>
<!-- build:js app.js -->
<script src="app.js"></script>
<!-- endbuild -->

{% include "partials/webtrekk.html" %}

</body>
</html>
